page-home {
    .welcome {
        margin-top: 150px;
        text-align: center;
    }

    .doctora {
        margin-top: 40px;
        text-align: center;
    }

    .doctor {
        margin-top: 40px;
        text-align: center;
    }
}
